{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2019-04-01",
    "signingName": "deepracer",
    "endpointPrefix": "deepracer-prod",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS DeepRacer",
    "serviceId": "ID",
    "signatureVersion": "v4",
    "targetPrefix": "AwsSilverstoneCloudService",
    "uid": "deepracer-2019-04-01"
  },
  "operations": {
    "AddLeaderboardAccessPermission": {
      "name": "AddLeaderboardAccessPermission",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddLeaderboardAccessPermissionRequest"
      },
      "output": {
        "shape": "AddLeaderboardAccessPermissionResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Join a community race.</p><p>Using this method you can join the race without having to open the AWS DeepRacer Console.</p><p>When successful, the leaderboard for a given race will be available to you in the leaderboards list</p>"
    },
    "CloneReinforcementLearningModel": {
      "name": "CloneReinforcementLearningModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CloneReinforcementLearningModelRequest"
      },
      "output": {
        "shape": "CloneReinforcementLearningModelResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Clones an existing model and continues training with new instructions</p>"
    },
    "CreateAccountResources": {
      "name": "CreateAccountResources",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccountResourcesRequest"
      },
      "output": {
        "shape": "CreateAccountResourcesResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>This method is no longer supported and should not be used.</p>"
    },
    "CreateCar": {
      "name": "CreateCar",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCarRequest"
      },
      "output": {
        "shape": "CreateCarResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Create a new car to train your model with.</p><p>You can choose various settings for your car including the action space, name or look.</p><p>There is a limit of 20 cars that you can create. If you reach this limit, update an existing car instead using update-car</p>"
    },
    "CreateLeaderboardAccessToken": {
      "name": "CreateLeaderboardAccessToken",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLeaderboardAccessTokenRequest"
      },
      "output": {
        "shape": "CreateLeaderboardAccessTokenResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Create a new invitation token for the community race. It is useful if your existing invitation link has been shared outside of your desired users.</p><p>To use the new token simply put it in place of [token] in url https://console.aws.amazon.com/deepracer/home#raceToken/[token]</p><p>Creation of a new access token makes the old token invalid.</p>"
    },
    "CreateLeaderboardSubmission": {
      "name": "CreateLeaderboardSubmission",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLeaderboardSubmissionRequest"
      },
      "output": {
        "shape": "CreateLeaderboardSubmissionResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Submit a model to a race.</p><p>Simply choose the model and a race and your submission will be created</p><p>When creating your first submission you need to confirm that you accept the terms and conditions of it. If you don't, you will not be allowed to submit your entry.</p>"
    },
    "CreatePrivateLeaderboard": {
      "name": "CreatePrivateLeaderboard",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePrivateLeaderboardRequest"
      },
      "output": {
        "shape": "CreatePrivateLeaderboardResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Creates a community race</p>"
    },
    "CreateReinforcementLearningModel": {
      "name": "CreateReinforcementLearningModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReinforcementLearningModelRequest"
      },
      "output": {
        "shape": "CreateReinforcementLearningModelResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Starts a new training with instructions provided.</p><p>A new model is created and used in the training session to gather experiences, then it is updated in the learning session based on the reward gathered.</p><p>While you can start training through the cli/boto3, it is recommended that you use the Deepracer Console instead for a richer experience.</p>"
    },
    "DeleteAccountResources": {
      "name": "DeleteAccountResources",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccountResourcesRequest"
      },
      "output": {
        "shape": "DeleteAccountResourcesResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>This method is no longer supported and should not be used.</p>"
    },
    "DeleteCar": {
      "name": "DeleteCar",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCarRequest"
      },
      "output": {
        "shape": "DeleteCarResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "internalonly": true,
      "documentation": "<p>This method is for internal use only and should not be used.</p>"
    },
    "DeleteCars": {
      "name": "DeleteCars",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCarsRequest"
      },
      "output": {
        "shape": "DeleteCarsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "internalonly": true,
      "documentation": "<p>This method is for internal use only and should not be used.</p>"
    },
    "DeleteModel": {
      "name": "DeleteModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "output": {
        "shape": "DeleteModelResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Delete existing model.</p><p>This method lets you limit your AWS DeepRacer model storage costs "
    },
    "DeletePrivateLeaderboard": {
      "name": "DeletePrivateLeaderboard",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePrivateLeaderboardRequest"
      },
      "output": {
        "shape": "DeletePrivateLeaderboardResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Deletes a community race</p>"
    },
    "EditPrivateLeaderboard": {
      "name": "EditPrivateLeaderboard",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EditPrivateLeaderboardRequest"
      },
      "output": {
        "shape": "EditPrivateLeaderboardResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Updates a community race</p>"
    },
    "GetAccountResources": {
      "name": "GetAccountResources",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccountResourcesRequest"
      },
      "output": {
        "shape": "GetAccountResourcesResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>This method is no longer supported and should not be used.</p>"
    },
    "GetAlias": {
      "name": "GetAlias",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "output": {
        "shape": "GetAliasResponse"
      },
      "errors": [
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Displays the racer alias assigned to given account</p>"
    },
    "GetAssetUrl": {
      "name": "GetAssetUrl",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAssetUrlRequest"
      },
      "output": {
        "shape": "GetAssetUrlResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Used to fetch various assets related to a model, training or race submission</p><p>Returns a Url that you can use to fetch things like logs, models etc.</p><p>Asset types prefixed with \"S3_\" are for copying assets to S3 (operations available in a model view under Actions->Copy to S3)."
    },
    "GetCar": {
      "name": "GetCar",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCarRequest"
      },
      "output": {
        "shape": "GetCarResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Returns current car settings.</p>"
    },
    "GetCars": {
      "name": "GetCars",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCarsRequest"
      },
      "output": {
        "shape": "GetCarsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns a list of configured cars</p>"
    },
    "GetEvaluation": {
      "name": "GetEvaluation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEvaluationRequest"
      },
      "output": {
        "shape": "GetEvaluationResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Get evaluation details.</p><p>Returns information about a given evaluation</p>"
    },
    "GetLatestUserSubmission": {
      "name": "GetLatestUserSubmission",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLatestUserSubmissionRequest"
      },
      "output": {
        "shape": "GetLatestUserSubmissionResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns information about the most recent model submission status</p><p>This is the information that you will see next to your name on the race page.</p>"
    },
    "GetLeaderboard": {
      "name": "GetLeaderboard",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLeaderboardRequest"
      },
      "output": {
        "shape": "GetLeaderboardResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns a details for a race</p><p>Does not return the entrants ranking - that is available through ListLeaderboardSubmissions (list-leaderboard-submissions for AWS CLI).</p>"
    },
    "GetModel": {
      "name": "GetModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetModelRequest"
      },
      "output": {
        "shape": "GetModelResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Fetch information about the model</p>"
    },
    "GetPrivateLeaderboard": {
      "name": "GetPrivateLeaderboard",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPrivateLeaderboardRequest"
      },
      "output": {
        "shape": "GetPrivateLeaderboardResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns a details for a race</p><p>Don't quote me on that but it does look like an aliast for GetLeaderboard (get-leaderboard) which returns both community and public leaderboards</p><p>Does not return the entrants ranking - that is available through ListLeaderboardSubmissions (list-leaderboard-submissions for AWS CLI).</p>"
    },
    "GetRankedUserSubmission": {
      "name": "GetRankedUserSubmission",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRankedUserSubmissionRequest"
      },
      "output": {
        "shape": "GetRankedUserSubmissionResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns current user's best submission for a given race.</p>"
    },
    "GetTournament": {
      "name": "GetTournament",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTournamentRequest"
      },
      "output": {
        "shape": "GetTournamentResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>TODO</p>"
    },
    "GetTrack": {
      "name": "GetTrack",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTrackRequest"
      },
      "output": {
        "shape": "GetTrackResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Provides information about a given track.</p>"
    },
    "GetTrainingJob": {
      "name": "GetTrainingJob",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTrainingJobRequest"
      },
      "output": {
        "shape": "GetTrainingJobResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Get information about how a model is being trained</p>"
    },
    "ImportModel": {
      "name": "ImportModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportModelRequest"
      },
      "output": {
        "shape": "ImportModelResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Import a model from S3 into console</p><p>Allows to import a model from backup or alternative training solution and clone for more training or submit to a race.</p>"
    },
    "ListEvaluations": {
      "name": "ListEvaluations",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEvaluationsRequest"
      },
      "output": {
        "shape": "ListEvaluationsResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns a list of evaluations performed on a given model.</p>"
    },
    "ListLeaderboardSubmissions": {
      "name": "ListLeaderboardSubmissions",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLeaderboardSubmissionsRequest"
      },
      "output": {
        "shape": "ListLeaderboardSubmissionsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Returns an ordered list of a given race entries.</p>"
    },
    "ListLeaderboardWinners": {
      "name": "ListLeaderboardWinners",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLeaderboardWinnersRequest"
      },
      "output": {
        "shape": "ListLeaderboardWinnersResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>TODO</p>"
    },
    "ListLeaderboards": {
      "name": "ListLeaderboards",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLeaderboardsRequest"
      },
      "output": {
        "shape": "ListLeaderboardsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>List races that current user has access to</p>"
    },
    "ListModels": {
      "name": "ListModels",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListModelsRequest"
      },
      "output": {
        "shape": "ListModelsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>List current user's models</p>"
    },
    "ListPrivateLeaderboardParticipants": {
      "name": "ListPrivateLeaderboardParticipants",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPrivateLeaderboardParticipantsRequest"
      },
      "output": {
        "shape": "ListPrivateLeaderboardParticipantsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Lists users which have joined a private race.</p><p>For public race Arn an empty list is returned</p>"
    },
    "ListPrivateLeaderboards": {
      "name": "ListPrivateLeaderboards",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPrivateLeaderboardsRequest"
      },
      "output": {
        "shape": "ListPrivateLeaderboardsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Lists community races that current user has created.</p>"
    },
    "ListSubscribedPrivateLeaderboards": {
      "name": "ListSubscribedPrivateLeaderboards",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscribedPrivateLeaderboardsRequest"
      },
      "output": {
        "shape": "ListSubscribedPrivateLeaderboardsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Lists community races that current user has joined.</p>"
    },
    "ListTracks": {
      "name": "ListTracks",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTracksRequest"
      },
      "output": {
        "shape": "ListTracksResponse"
      },
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>List available tracks</p>"
    },
    "ListTrainingJobs": {
      "name": "ListTrainingJobs",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTrainingJobsRequest"
      },
      "output": {
        "shape": "ListTrainingJobsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>List current user's training jobs</p><p>Training jobs are associated with models that user has.</p>"
    },
    "MigrateModels": {
      "name": "MigrateModels",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "MigrateModelsRequest"
      },
      "output": {
        "shape": "MigrateModelsResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>This method is no longer be relevant and you should not use it</p>"
    },
    "RemoveLeaderboardAccessPermission": {
      "name": "RemoveLeaderboardAccessPermission",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveLeaderboardAccessPermissionRequest"
      },
      "output": {
        "shape": "RemoveLeaderboardAccessPermissionResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Removes a racer from a community race administrated by the current user.</p>"
    },
    "RunTournament": {
      "name": "RunTournament",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RunTournamentRequest"
      },
      "output": {
        "shape": "RunTournamentResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>TODO</p>"
    },
    "SetAlias": {
      "name": "SetAlias",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetAliasRequest"
      },
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Set your racer name. You can only set your racer name once so choose wisely!</p>\n<p>The names are checked in terms approprietness. You may have your name rejected if a disallowed word is a substring of it.</p>"
    },
    "StartEvaluation": {
      "name": "StartEvaluation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartEvaluationRequest"
      },
      "output": {
        "shape": "StartEvaluationResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Evaluate your model in conditions of your choice.</p><p>This is a great opportunity to check how your model is doing without the entropy altering it actions which happens during the training. But there's more: you can try a different track, different racing format or even race your model against a car with another model that you have trained.</p>"
    },
    "StopEvaluation": {
      "name": "StopEvaluation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopEvaluationRequest"
      },
      "output": {
        "shape": "StopEvaluationResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "JobNotActiveException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Stop performing evaluation</p><p>The system will still take some time to shut everything down, but the evaluation will have been stopped at the time of request</p>"
    },
    "StopTrainingReinforcementLearningModel": {
      "name": "StopTrainingReinforcementLearningModel",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTrainingReinforcementLearningModelRequest"
      },
      "output": {
        "shape": "StopTrainingReinforcementLearningModelResponse"
      },
      "errors": [
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "JobNotActiveException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "documentation": "<p>Stop the training job.</p><p>The training will be immediately interrupted and will perform a shutdown of the environment which can take a few minutes. Once done, you will be able to evaluate, clone or submit your model to a race. The interrupted iteration is discarded and only the last and the best complete iterations are being stored.</p>"
    },
    "TestRewardFunction": {
      "name": "TestRewardFunction",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestRewardFunctionRequest"
      },
      "output": {
        "shape": "TestRewardFunctionResponse"
      },
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Test reward function. Submit your function to perform a number of tests against it.</p><p>Not all problems are clearly communicated even if caught, for instance whitespace issues. If you don't get the details that could help you, do revert to a code editor of your choice.</p>"
    },
    "UpdateCar": {
      "name": "UpdateCar",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCarRequest"
      },
      "output": {
        "shape": "UpdateCarResponse"
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CustomerAuthorizationFailedException"
        },
        {
          "shape": "ResourceDoesNotExistException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "documentation": "<p>Change settings of your car</p><p>You can choose various settings for your car including the action space, name or look.</p><p>Changing the settings for a car only affects new models being created from scratch. Old models and their clones will continue to use the old settings which are stored with the model at the start of a new training and then passed on during cloning.</p>"
    }
  },
  "shapes": {
    "AccessToken": {
      "type": "string",
      "max": 32,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_]+$"
    },
    "AccountId": {
      "type": "string",
      "max": 12,
      "min": 12,
      "pattern": "[0-9]{12}"
    },
    "AccountResources": {
      "type": "structure",
      "required": [
        "AccountRoles"
      ],
      "members": {
        "AccountRoles": {
          "shape": "AccountRoles"
        },
        "Status": {
          "shape": "AccountResourcesStatus"
        },
        "S3Bucket": {
          "shape": "S3Bucket"
        },
        "RoboMakerSimulationApplication": {
          "shape": "RoboMakerSimulationApplication"
        },
        "VpcStack": {
          "shape": "VpcStack"
        },
        "VersioningStatus": {
          "shape": "VersioningStatus"
        }
      }
    },
    "AccountResourcesStatus": {
      "type": "string",
      "enum": [
        "CREATED",
        "CREATING",
        "DELETING",
        "ERROR",
        "MIGRATING"
      ]
    },
    "AccountRoles": {
      "type": "structure",
      "required": [
        "DeepRacerRoleArn",
        "SageMakerRoleArn",
        "RoboMakerRoleArn",
        "LambdaRoleArn",
        "CloudFormationRoleArn"
      ],
      "members": {
        "DeepRacerRoleArn": {
          "shape": "RoleArn"
        },
        "SageMakerRoleArn": {
          "shape": "RoleArn"
        },
        "RoboMakerRoleArn": {
          "shape": "RoleArn"
        },
        "LambdaRoleArn": {
          "shape": "RoleArn"
        },
        "CloudFormationRoleArn": {
          "shape": "RoleArn"
        }
      }
    },
    "ActionSpace": {
      "type": "structure",
      "required": [
        "MaximumSteeringAngle",
        "SteeringGranularity",
        "MaximumSpeed",
        "SpeedGranularity"
      ],
      "members": {
        "MaximumSteeringAngle": {
          "shape": "MaximumSteeringAngle"
        },
        "SteeringGranularity": {
          "shape": "SteeringGranularity"
        },
        "MaximumSpeed": {
          "shape": "MaximumSpeed"
        },
        "SpeedGranularity": {
          "shape": "SpeedGranularity"
        }
      }
    },
    "ActivityJob": {
      "type": "structure",
      "required": [
        "ModelArn",
        "CreationTime",
        "StartTime",
        "Status"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        },
        "CreationTime": {
          "shape": "epochTimeMillis"
        },
        "FailureReason": {
          "shape": "Description"
        },
        "StartTime": {
          "shape": "epochTimeMillis"
        },
        "EndTime": {
          "shape": "epochTimeMillis"
        },
        "Status": {
          "shape": "ActivityStatus"
        },
        "MetricsS3Path": {
          "shape": "StandardLengthString"
        },
        "MetricsPreSignedUrl": {
          "shape": "Url"
        },
        "Videos": {
          "shape": "ActivityVideos"
        },
        "LogDownloadComplete": {
          "shape": "Boolean"
        }
      }
    },
    "ActivityJobStatus": {
      "type": "string",
      "enum": [
        "CREATED",
        "INITIALIZING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "STOPPING"
      ]
    },
    "ActivityStatus": {
      "type": "structure",
      "required": [
        "JobStatus",
        "TimeInMinutes",
        "Units"
      ],
      "members": {
        "JobStatus": {
          "shape": "ActivityJobStatus"
        },
        "Score": {
          "shape": "integer"
        },
        "TimeInMinutes": {
          "shape": "NonNegativeInteger"
        },
        "Units": {
          "shape": "NonNegativeInteger"
        }
      }
    },
    "ActivityVideo": {
      "type": "structure",
      "members": {
        "KinesisVideoStreamArn": {
          "shape": "StandardLengthString"
        },
        "S3Location": {
          "shape": "StandardLengthString"
        },
        "KinesisVideoUrl": {
          "shape": "StandardLengthString"
        },
        "KinesisVideoUrlExpiry": {
          "shape": "epochTimeMillis"
        }
      }
    },
    "ActivityVideoAngle": {
      "type": "string",
      "enum": [
        "FRONT"
      ]
    },
    "ActivityVideos": {
      "type": "map",
      "key": {
        "shape": "ActivityVideoAngle"
      },
      "value": {
        "shape": "ActivityVideo"
      }
    },
    "AddLeaderboardAccessPermissionRequest": {
      "type": "structure",
      "required": [
        "AccessToken"
      ],
      "members": {
        "AccessToken": {
          "shape": "AccessToken"
        }
      }
    },
    "AddLeaderboardAccessPermissionResponse": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "AgentAlgorithm": {
      "type": "string",
      "enum": [
        "PPO"
      ]
    },
    "AgentNetwork": {
      "type": "string",
      "enum": [
        "SIX_LAYER_DOUBLE_HEAD_OUTPUT"
      ]
    },
    "Alias": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-]+$"
    },
    "Arn": {
      "type": "string",
      "pattern": "arn:.*"
    },
    "AssetType": {
      "type": "string",
      "enum": [
        "S3_PKG_MODEL_VIDEOS",
        "S3_PKG_MODEL_LOGS_VIDEOS",
        "S3_PKG_LOGS",
        "ROBOMAKER_CLOUDWATCH_LOG",
        "SAGEMAKER_CLOUDWATCH_LOG",
        "MODEL_ARTIFACT",
        "S3_PKG_VIDEOS",
        "COMPLETE_MODEL_ARTIFACT",
        "LOGS",
        "S3_PKG_LOGS_VIDEOS",
        "S3_PKG_MODEL_LOGS",
        "S3_PKG_MODEL",
        "VIDEOS",
        "ROBOMAKER_METRICS"
      ]
    },
    "AutoSubmission": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "AutoSubmissionStatus": {
          "shape": "AutoSubmissionStatus"
        }
      }
    },
    "AutoSubmissionStatus": {
      "type": "string",
      "enum": [
        "WAITING_FOR_TRAINING",
        "SUBMITTED",
        "TRAINING_FAILED",
        "SUBMISSION_SQS_FAILED",
        "SUBMISSION_REQUEST_FAILED"
      ]
    },
    "Boolean": {
      "type": "boolean"
    },
    "BotCarSpeed": {
      "type": "double",
      "max": 12,
      "min": 0.2
    },
    "Car": {
      "type": "structure",
      "required": [
        "Customization",
        "Configuration"
      ],
      "members": {
        "Arn": {
          "shape": "CarArn"
        },
        "Customization": {
          "shape": "CarCustomization"
        },
        "Configuration": {
          "shape": "CarConfiguration"
        }
      }
    },
    "CarArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "^arn:aws:deepracer:[a-z0-9-]*:[0-9]{12}:car/[a-zA-Z0-9_\\-]+$"
    },
    "CarColor": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_]+$"
    },
    "CarConfiguration": {
      "type": "structure",
      "required": [
        "ActionSpace",
        "NeuralNetwork",
        "Sensors"
      ],
      "members": {
        "ActionSpace": {
          "shape": "ActionSpace"
        },
        "NeuralNetwork": {
          "shape": "NeuralNetwork"
        },
        "Sensors": {
          "shape": "SensorsList"
        }
      }
    },
    "CarControlConfig": {
      "type": "structure",
      "required": [
        "CarSpeedControl"
      ],
      "members": {
        "CarSpeedControl": {
          "shape": "boolean"
        }
      }
    },
    "CarCustomization": {
      "type": "structure",
      "required": [
        "Name",
        "Color"
      ],
      "members": {
        "Name": {
          "shape": "CarName"
        },
        "Color": {
          "shape": "CarColor"
        },
        "CarType": {
          "shape": "CarType"
        },
        "Top": {
          "shape": "PerspectiveCustomization"
        },
        "Sides": {
          "shape": "PerspectiveCustomization"
        },
        "Back": {
          "shape": "PerspectiveCustomization"
        }
      }
    },
    "CarDecal": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_]+$"
    },
    "CarName": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_]+$"
    },
    "CarType": {
      "type": "string",
      "enum": [
        "EVO",
        "F1"
      ]
    },
    "CarsList": {
      "type": "list",
      "member": {
        "shape": "Car"
      }
    },
    "CloneReinforcementLearningModelRequest": {
      "type": "structure",
      "required": [
        "ModelName",
        "TrainingConfig"
      ],
      "members": {
        "ModelArnToClone": {
          "shape": "ModelArn",
          "documentation": "<p>Identifies the base model that you wish to clone</p>"
        },
        "ModelName": {
          "shape": "ModelName",
          "documentation": "<p>The name that you want to give to your new model</p>"
        },
        "ModelDescription": {
          "shape": "Description",
          "documentation": "<p>Descirption that you want to give to your new model</p>"
        },
        "TrainingConfig": {
          "shape": "TrainingConfig",
          "documentation": "<p>Configuration of the training to be started after cloning</p>"
        },
        "RoleArn": {
          "shape": "RoleArn",
          "documentation": "<p>Arn Role of the user that allows to perform this operation</p>"
        },
        "AutoSubmission": {
          "shape": "AutoSubmission",
          "documentation": "<p>Decide whether after training completion you wish to submit the model to a race</p>"
        }
      }
    },
    "CloneReinforcementLearningModelResponse": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        }
      },
      "documentation": "<p>Identifies the model that has been created</p>"
    },
    "CodeBlock": {
      "type": "string",
      "max": 100000,
      "min": 1
    },
    "CreateAccountResourcesRequest": {
      "type": "structure",
      "required": [
        "AccountRoles"
      ],
      "members": {
        "AccountRoles": {
          "shape": "AccountRoles"
        }
      }
    },
    "CreateAccountResourcesResponse": {
      "type": "structure",
      "members": {}
    },
    "CreateCarRequest": {
      "type": "structure",
      "members": {
        "Car": {
          "shape": "Car"
        }
      }
    },
    "CreateCarResponse": {
      "type": "structure",
      "members": {
        "Car": {
          "shape": "Car"
        }
      }
    },
    "CreateLeaderboardAccessTokenRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn",
        "ExpirationTime"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "ExpirationTime": {
          "shape": "epochTimeMillis"
        }
      }
    },
    "CreateLeaderboardAccessTokenResponse": {
      "type": "structure",
      "required": [
        "AccessToken"
      ],
      "members": {
        "AccessToken": {
          "shape": "AccessToken"
        }
      }
    },
    "CreateLeaderboardSubmissionRequest": {
      "type": "structure",
      "required": [
        "ModelArn",
        "LeaderboardArn"
      ],
      "members": {
        "SubmissionDescription": {
          "shape": "Description"
        },
        "ModelArn": {
          "shape": "ModelArn"
        },
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "TermsAccepted": {
          "shape": "Boolean"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "AutoSubmission": {
          "shape": "AutoSubmission"
        }
      }
    },
    "CreateLeaderboardSubmissionResponse": {
      "type": "structure",
      "members": {}
    },
    "CreatePrivateLeaderboardRequest": {
      "type": "structure",
      "required": [
        "LeaderboardName",
        "LeaderboardDescription",
        "MinimumLaps",
        "TotalLaps",
        "StartTime",
        "EndTime",
        "TrackArn",
        "LeaderboardImage"
      ],
      "members": {
        "LeaderboardName": {
          "shape": "LeaderboardName"
        },
        "LeaderboardDescription": {
          "shape": "Description"
        },
        "MinimumLaps": {
          "shape": "PositiveInteger"
        },
        "TotalLaps": {
          "shape": "PositiveInteger"
        },
        "StartTime": {
          "shape": "epochTimeMillis"
        },
        "EndTime": {
          "shape": "epochTimeMillis"
        },
        "TrackArn": {
          "shape": "TrackArn"
        },
        "LeaderboardImage": {
          "shape": "LeaderboardImage"
        }
      }
    },
    "CreatePrivateLeaderboardResponse": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "CreateReinforcementLearningModelRequest": {
      "type": "structure",
      "required": [
        "ModelName",
        "ModelFramework",
        "AgentAlgorithm",
        "AgentNetwork",
        "TrainingConfig"
      ],
      "members": {
        "ModelName": {
          "shape": "ModelName"
        },
        "ModelFramework": {
          "shape": "ModelFramework"
        },
        "ModelDescription": {
          "shape": "Description"
        },
        "AgentAlgorithm": {
          "shape": "AgentAlgorithm"
        },
        "AgentNetwork": {
          "shape": "AgentNetwork"
        },
        "TrainingConfig": {
          "shape": "TrainingConfig"
        },
        "CarArn": {
          "shape": "CarArn"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "AutoSubmission": {
          "shape": "AutoSubmission"
        }
      }
    },
    "CreateReinforcementLearningModelResponse": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        }
      }
    },
    "CustomerAuthorizationFailedException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "DeleteAccountResourcesRequest": {
      "type": "structure",
      "members": {}
    },
    "DeleteAccountResourcesResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteCarRequest": {
      "type": "structure",
      "required": [
        "Arn"
      ],
      "members": {
        "Arn": {
          "shape": "CarArn"
        }
      }
    },
    "DeleteCarResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteCarsRequest": {
      "type": "structure",
      "members": {}
    },
    "DeleteCarsResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteModelRequest": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        }
      }
    },
    "DeleteModelResponse": {
      "type": "structure",
      "members": {}
    },
    "DeletePrivateLeaderboardRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "DeletePrivateLeaderboardResponse": {
      "type": "structure",
      "members": {}
    },
    "Description": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "^.+$"
    },
    "Details": {
      "type": "string",
      "min": 1
    },
    "Dimension": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "StandardLengthString"
        },
        "Value": {
          "shape": "StandardLengthString"
        }
      }
    },
    "DimensionList": {
      "type": "list",
      "member": {
        "shape": "Dimension"
      }
    },
    "Division": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "EditPrivateLeaderboardRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn",
        "LeaderboardDescription",
        "MinimumLaps",
        "TotalLaps",
        "StartTime",
        "EndTime",
        "TrackArn",
        "LeaderboardImage"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "LeaderboardDescription": {
          "shape": "Description"
        },
        "MinimumLaps": {
          "shape": "PositiveInteger"
        },
        "TotalLaps": {
          "shape": "PositiveInteger"
        },
        "StartTime": {
          "shape": "epochTimeMillis"
        },
        "EndTime": {
          "shape": "epochTimeMillis"
        },
        "TrackArn": {
          "shape": "TrackArn"
        },
        "LeaderboardImage": {
          "shape": "LeaderboardImage"
        }
      }
    },
    "EditPrivateLeaderboardResponse": {
      "type": "structure",
      "members": {}
    },
    "EntryTypeConfig": {
      "type": "structure",
      "required": [
        "InvitationEntryType"
      ],
      "members": {
        "InvitationEntryType": {
          "shape": "StandardLengthString"
        },
        "RacingDivisionEntryType": {
          "shape": "StandardLengthString"
        }
      }
    },
    "EpisodeStatus": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "ErrorCode": {
      "type": "string",
      "min": 1
    },
    "ErrorDetails": {
      "type": "structure",
      "required": [
        "Type",
        "Message"
      ],
      "members": {
        "Type": {
          "shape": "TestRewardFunctionErrorType"
        },
        "Message": {
          "shape": "Message"
        },
        "Line": {
          "shape": "StandardLengthString"
        },
        "LineNumber": {
          "shape": "PositiveInteger"
        }
      }
    },
    "ErrorDetailsList": {
      "type": "list",
      "member": {
        "shape": "ErrorDetails"
      }
    },
    "EvaluationConfig": {
      "type": "structure",
      "required": [
        "TrackArn",
        "TerminationConditions"
      ],
      "members": {
        "TrackArn": {
          "shape": "StandardLengthString"
        },
        "TerminationConditions": {
          "shape": "EvaluationTerminationConditions"
        },
        "RaceType": {
          "shape": "RaceType"
        },
        "HeadToHeadConfig": {
          "shape": "HeadToHeadConfig"
        },
        "ObjectAvoidanceConfig": {
          "shape": "ObjectAvoidanceConfig"
        },
        "ResettingBehaviorConfig": {
          "shape": "ResettingBehaviorConfig"
        }
      }
    },
    "EvaluationJob": {
      "type": "structure",
      "required": [
        "JobArn",
        "ActivityJob",
        "Config",
        "Metrics"
      ],
      "members": {
        "JobArn": {
          "shape": "EvaluationJobArn"
        },
        "ActivityJob": {
          "shape": "ActivityJob"
        },
        "Config": {
          "shape": "EvaluationConfig"
        },
        "Metrics": {
          "shape": "EvaluationMetrics"
        },
        "RoboMakerJobArn": {
          "shape": "Arn"
        }
      }
    },
    "EvaluationJobArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "^arn:aws:deepracer:[a-z0-9-]*:[0-9]{12}:evaluation_job/[a-zA-Z0-9_\\-]+$"
    },
    "EvaluationJobList": {
      "type": "list",
      "member": {
        "shape": "EvaluationJob"
      }
    },
    "EvaluationMetric": {
      "type": "structure",
      "members": {
        "Trial": {
          "shape": "PositiveInteger"
        },
        "ElapsedTimeInMilliseconds": {
          "shape": "PositiveInteger"
        },
        "CompletionPercentage": {
          "shape": "PositiveInteger"
        },
        "EpisodeStatus": {
          "shape": "EpisodeStatus"
        }
      }
    },
    "EvaluationMetrics": {
      "type": "list",
      "member": {
        "shape": "EvaluationMetric"
      }
    },
    "EvaluationTerminationConditions": {
      "type": "structure",
      "members": {
        "MaxTimeInMinutes": {
          "shape": "PositiveInteger"
        },
        "MaxLaps": {
          "shape": "PositiveInteger"
        }
      }
    },
    "GetAccountResourcesRequest": {
      "type": "structure",
      "members": {}
    },
    "GetAccountResourcesResponse": {
      "type": "structure",
      "required": [
        "AccountResources"
      ],
      "members": {
        "AccountResources": {
          "shape": "AccountResources"
        }
      }
    },
    "GetAliasResponse": {
      "type": "structure",
      "required": [
        "Alias"
      ],
      "members": {
        "Alias": {
          "shape": "Alias"
        }
      }
    },
    "GetAssetUrlRequest": {
      "type": "structure",
      "required": [
        "Arn",
        "AssetType"
      ],
      "members": {
        "Arn": {
          "shape": "Arn"
        },
        "AssetType": {
          "shape": "AssetType"
        },
        "ModelArtifactsS3Bucket": {
          "shape": "S3Bucket"
        },
        "ModelArtifactsS3Prefix": {
          "shape": "S3ObjectKey"
        },
        "RoleArn": {
          "shape": "RoleArn",
          "documentation": "<p>An Arn of a role that current user has assigned, which write files to that bucket</p>"
        }
      }
    },
    "GetAssetUrlResponse": {
      "type": "structure",
      "members": {
        "Url": {
          "shape": "Url"
        }
      }
    },
    "GetCarRequest": {
      "type": "structure",
      "required": [
        "Arn"
      ],
      "members": {
        "Arn": {
          "shape": "CarArn"
        }
      }
    },
    "GetCarResponse": {
      "type": "structure",
      "members": {
        "Car": {
          "shape": "Car"
        }
      }
    },
    "GetCarsRequest": {
      "type": "structure",
      "members": {}
    },
    "GetCarsResponse": {
      "type": "structure",
      "members": {
        "Cars": {
          "shape": "CarsList"
        }
      }
    },
    "GetEvaluationRequest": {
      "type": "structure",
      "required": [
        "EvaluationJobArn"
      ],
      "members": {
        "EvaluationJobArn": {
          "shape": "EvaluationJobArn"
        }
      }
    },
    "GetEvaluationResponse": {
      "type": "structure",
      "required": [
        "EvaluationJob"
      ],
      "members": {
        "EvaluationJob": {
          "shape": "EvaluationJob"
        }
      }
    },
    "GetLatestUserSubmissionRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "GetLatestUserSubmissionResponse": {
      "type": "structure",
      "required": [
        "LeaderboardSubmission"
      ],
      "members": {
        "LeaderboardSubmission": {
          "shape": "LeaderboardSubmission"
        }
      }
    },
    "GetLeaderboardRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "GetLeaderboardResponse": {
      "type": "structure",
      "members": {
        "Leaderboard": {
          "shape": "Leaderboard"
        }
      }
    },
    "GetModelRequest": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        }
      }
    },
    "GetModelResponse": {
      "type": "structure",
      "required": [
        "Model"
      ],
      "members": {
        "Model": {
          "shape": "Model"
        }
      }
    },
    "GetPrivateLeaderboardRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "GetPrivateLeaderboardResponse": {
      "type": "structure",
      "members": {
        "PrivateLeaderboard": {
          "shape": "PrivateLeaderboard"
        }
      }
    },
    "GetRankedUserSubmissionRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "GetRankedUserSubmissionResponse": {
      "type": "structure",
      "required": [
        "LeaderboardSubmission"
      ],
      "members": {
        "LeaderboardSubmission": {
          "shape": "LeaderboardSubmission"
        }
      }
    },
    "GetTournamentRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "GetTournamentResponse": {
      "type": "structure",
      "required": [
        "Tournament"
      ],
      "members": {
        "Tournament": {
          "shape": "TournamentResults"
        }
      }
    },
    "GetTrackRequest": {
      "type": "structure",
      "required": [
        "TrackArn"
      ],
      "members": {
        "TrackArn": {
          "shape": "TrackArn"
        }
      }
    },
    "GetTrackResponse": {
      "type": "structure",
      "required": [
        "Track"
      ],
      "members": {
        "Track": {
          "shape": "Track"
        }
      }
    },
    "GetTrainingJobRequest": {
      "type": "structure",
      "required": [
        "TrainingJobArn"
      ],
      "members": {
        "TrainingJobArn": {
          "shape": "TrainingJobArn"
        }
      }
    },
    "GetTrainingJobResponse": {
      "type": "structure",
      "required": [
        "TrainingJob"
      ],
      "members": {
        "TrainingJob": {
          "shape": "TrainingJob"
        }
      }
    },
    "HeadToHeadConfig": {
      "type": "structure",
      "required": [
        "HeadToHeadType"
      ],
      "members": {
        "HeadToHeadType": {
          "shape": "HeadToHeadType"
        },
        "PolicyModelArn": {
          "shape": "ModelArn"
        },
        "NumBotCars": {
          "shape": "NumBotCars"
        },
        "BotCarSpeed": {
          "shape": "BotCarSpeed"
        },
        "EnableLaneChange": {
          "shape": "boolean"
        },
        "LowerLaneChangeTime": {
          "shape": "LaneChangeTime"
        },
        "UpperLaneChangeTime": {
          "shape": "LaneChangeTime"
        }
      }
    },
    "HeadToHeadType": {
      "type": "string",
      "enum": [
        "POLICY_DRIVEN_VEHICLE",
        "BOT_VEHICLE"
      ]
    },
    "ImportModelRequest": {
      "type": "structure",
      "required": [
        "Name",
        "ModelArtifactsS3Path",
        "RoleArn",
        "Type"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        },
        "Type": {
          "shape": "ModelType",
          "documentation": "<p>Type of model to import</p>"
        },
        "Name": {
          "shape": "ModelName",
          "documentation": "<p>A name to be given to imported model</p>"
        },
        "Description": {
          "shape": "Description",
          "documentation": "<p>A description of the imported model</p>"
        },
        "ModelArtifactsS3Path": {
          "shape": "S3ObjectKey",
          "documentation": "<p>Path to model in that bucket</p>"
        },
        "RoleArn": {
          "shape": "RoleArn",
          "documentation": "<p>An Arn of a role that current user has assigned, which allows to fetch files from that bucket</p>"
        }
      }
    },
    "ImportModelResponse": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        }
      }
    },
    "InvalidRequestException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "JobNotActiveException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "LaneChangeTime": {
      "type": "double",
      "max": 8.0,
      "min": 1.0
    },
    "Leaderboard": {
      "type": "structure",
      "required": [
        "Arn",
        "Name",
        "Description",
        "LaunchTime",
        "CloseTime",
        "Status",
        "MinimumLaps",
        "ParticipantCount",
        "ImageUrl",
        "TrackImageUrl"
      ],
      "members": {
        "Arn": {
          "shape": "LeaderboardArn"
        },
        "Name": {
          "shape": "LeaderboardName"
        },
        "Description": {
          "shape": "Description"
        },
        "LaunchTime": {
          "shape": "epochTimeMillis"
        },
        "CloseTime": {
          "shape": "epochTimeMillis"
        },
        "StartTime": {
          "shape": "epochTimeMillis"
        },
        "EndTime": {
          "shape": "epochTimeMillis"
        },
        "TrackArn": {
          "shape": "TrackArn"
        },
        "Status": {
          "shape": "LeaderboardStatus"
        },
        "MinimumLaps": {
          "shape": "PositiveInteger"
        },
        "TotalLaps": {
          "shape": "PositiveInteger"
        },
        "ParticipantCount": {
          "shape": "NonNegativeInteger"
        },
        "ImageUrl": {
          "shape": "StandardLengthString"
        },
        "TrackImageUrl": {
          "shape": "StandardLengthString"
        },
        "LeaderboardImage": {
          "shape": "StandardLengthString"
        },
        "HeadToHeadConfig": {
          "shape": "HeadToHeadConfig"
        },
        "ObjectAvoidanceConfig": {
          "shape": "ObjectAvoidanceConfig"
        },
        "ResettingBehaviorConfig": {
          "shape": "ResettingBehaviorConfig"
        },
        "RaceType": {
          "shape": "RaceType"
        },
        "Visibility": {
          "shape": "StandardLengthString"
        },
        "Tournament": {
          "shape": "Tournament"
        },
        "TerminationConditions": {
          "shape": "TerminationConditions"
        },
        "TimingMethod": {
          "shape": "TimingMethod"
        },
        "TermsConditionId": {
          "shape": "TermsConditionId"
        },
        "TermsAccepted": {
          "shape": "Boolean"
        },
        "WinnerAlias": {
          "shape": "Alias"
        },
        "LeagueType": {
          "shape": "StandardLengthString"
        },
        "PlayoffRaceTypeConfig": {
          "shape": "PlayoffRaceTypeConfig"
        },
        "ThemeConfig": {
          "shape": "ThemeConfig"
        },
        "NumOfTeamSubmissionsRequired": {
          "shape": "PositiveInteger"
        },
        "WinningTeamName": {
          "shape": "StandardLengthString"
        },
        "RacingDivisionEnabled": {
          "shape": "boolean"
        },
        "RacingDivision": {
          "shape": "Division"
        },
        "ParticipationConfig": {
          "shape": "ParticipationConfig"
        },
        "CarControlConfig": {
          "shape": "CarControlConfig"
        },
        "Tags": {
          "shape": "StandardLengthString"
        },
        "Moderated": {
          "shape": "boolean"
        }
      }
    },
    "LeaderboardArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "arn:.*"
    },
    "LeaderboardImage": {
      "type": "string",
      "enum": [
        "LeaderboardImage1",
        "LeaderboardImage2",
        "LeaderboardImage3",
        "LeaderboardImage4",
        "LeaderboardImage5",
        "LeaderboardImage6"
      ]
    },
    "LeaderboardList": {
      "type": "list",
      "member": {
        "shape": "Leaderboard"
      }
    },
    "LeaderboardName": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-]+$"
    },
    "LeaderboardStatus": {
      "type": "string",
      "enum": [
        "UPCOMING",
        "OPEN",
        "CLOSED"
      ]
    },
    "LeaderboardSubmission": {
      "type": "structure",
      "required": [
        "Alias",
        "SubmissionTime",
        "LapCount",
        "AvgLapTime",
        "LeaderboardSubmissionStatusType"
      ],
      "members": {
        "ActivityArn": {
          "shape": "Arn"
        },
        "Alias": {
          "shape": "Alias"
        },
        "SubmissionTime": {
          "shape": "epochTimeMillis"
        },
        "LapCount": {
          "shape": "PositiveInteger"
        },
        "AvgLapTime": {
          "shape": "epochTimeMillis"
        },
        "BestLapTime": {
          "shape": "epochTimeMillis"
        },
        "TotalLapTime": {
          "shape": "epochTimeMillis"
        },
        "AvgResets": {
          "shape": "double"
        },
        "CollisionCount": {
          "shape": "NonNegativeInteger"
        },
        "OffTrackCount": {
          "shape": "NonNegativeInteger"
        },
        "ResetCount": {
          "shape": "NonNegativeInteger"
        },
        "SubmissionCount": {
          "shape": "NonNegativeInteger"
        },
        "SubmissionVideoS3path": {
          "shape": "Url"
        },
        "ModelArn": {
          "shape": "ModelArn"
        },
        "Rank": {
          "shape": "PositiveInteger"
        },
        "JobName": {
          "shape": "Name"
        },
        "LeaderboardSubmissionStatusType": {
          "shape": "LeaderboardSubmissionStatusType"
        },
        "RankingScore": {
          "shape": "epochTimeMillis"
        },
        "ModelCreatedInDataAccount": {
          "shape": "Boolean"
        },
        "LogDownloadComplete": {
          "shape": "Boolean"
        },
        "TeamName": {
          "shape": "StandardLengthString"
        },
        "RacingDivision": {
          "shape": "StandardLengthString"
        },
        "UserId": {
          "shape": "StandardLengthString"
        }
      }
    },
    "LeaderboardSubmissionList": {
      "type": "list",
      "member": {
        "shape": "LeaderboardSubmission"
      }
    },
    "LeaderboardSubmissionStatusType": {
      "type": "string",
      "enum": [
        "SUCCESS",
        "QUEUED",
        "RUNNING",
        "FAILED",
        "ERROR"
      ]
    },
    "ListEvaluationsRequest": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "SortBy": {
          "shape": "SortEvaluationsBy"
        },
        "SortOrder": {
          "shape": "ListSortOrder"
        },
        "StatusEquals": {
          "shape": "ActivityJobStatus"
        }
      }
    },
    "ListEvaluationsResponse": {
      "type": "structure",
      "members": {
        "EvaluationJobs": {
          "shape": "EvaluationJobList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListLeaderboardSubmissionsRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListLeaderboardSubmissionsResponse": {
      "type": "structure",
      "members": {
        "LeaderboardSubmissions": {
          "shape": "LeaderboardSubmissionList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListLeaderboardWinnersRequest": {
      "type": "structure",
      "required": [
        "WinnerCutoffTime"
      ],
      "members": {
        "WinnerCutoffTime": {
          "shape": "epochTimeMillis"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListLeaderboardWinnersResponse": {
      "type": "structure",
      "required": [
        "WinnerList"
      ],
      "members": {
        "WinnerList": {
          "shape": "WinnerList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListLeaderboardsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListLeaderboardsResponse": {
      "type": "structure",
      "required": [
        "Leaderboards"
      ],
      "members": {
        "Leaderboards": {
          "shape": "LeaderboardList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListModelsRequest": {
      "type": "structure",
      "required": [
        "ModelType"
      ],
      "members": {
        "ModelType": {
          "shape": "ModelType"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "SortBy": {
          "shape": "SortModelsBy"
        },
        "SortOrder": {
          "shape": "ListSortOrder"
        }
      }
    },
    "ListModelsResponse": {
      "type": "structure",
      "members": {
        "Models": {
          "shape": "ModelList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListPrivateLeaderboardParticipantsRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListPrivateLeaderboardParticipantsResponse": {
      "type": "structure",
      "required": [
        "PrivateLeaderboardParticipants"
      ],
      "members": {
        "PrivateLeaderboardParticipants": {
          "shape": "PrivateLeaderboardParticipantList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListPrivateLeaderboardsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListPrivateLeaderboardsResponse": {
      "type": "structure",
      "required": [
        "PrivateLeaderboards"
      ],
      "members": {
        "PrivateLeaderboards": {
          "shape": "PrivateLeaderboardList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListSortOrder": {
      "type": "string",
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "ListSubscribedPrivateLeaderboardsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListSubscribedPrivateLeaderboardsResponse": {
      "type": "structure",
      "required": [
        "PrivateLeaderboards"
      ],
      "members": {
        "PrivateLeaderboards": {
          "shape": "PrivateLeaderboardList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListTracksRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListTracksResponse": {
      "type": "structure",
      "members": {
        "Tracks": {
          "shape": "TrackList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "ListTrainingJobsRequest": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "MaxResults": {
          "shape": "MaxResults"
        }
      }
    },
    "ListTrainingJobsResponse": {
      "type": "structure",
      "members": {
        "TrainingJobs": {
          "shape": "TrainingJobList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      }
    },
    "MaxResults": {
      "type": "integer",
      "max": 100,
      "min": 1
    },
    "MaximumSpeed": {
      "type": "double",
      "max": 12.0,
      "min": 0.1
    },
    "MaximumSteeringAngle": {
      "type": "double",
      "max": 30.0,
      "min": 1.0
    },
    "Message": {
      "type": "string",
      "max": 2000,
      "min": 1
    },
    "MetaData": {
      "type": "string",
      "max": 100000,
      "min": 1
    },
    "MigrateModelsRequest": {
      "type": "structure",
      "members": {
        "ModelArnList": {
          "shape": "ModelArnList"
        },
        "RoleArn": {
          "shape": "RoleArn"
        }
      }
    },
    "MigrateModelsResponse": {
      "type": "structure",
      "members": {}
    },
    "Model": {
      "type": "structure",
      "required": [
        "ModelType",
        "ModelName",
        "ModelArn",
        "WasImported",
        "CreationTime",
        "ModelFramework",
        "AgentAlgorithm",
        "AgentNetwork",
        "Status"
      ],
      "members": {
        "ModelType": {
          "shape": "ModelType"
        },
        "ModelName": {
          "shape": "ModelName"
        },
        "ModelArn": {
          "shape": "ModelArn"
        },
        "ModelDescription": {
          "shape": "Description"
        },
        "WasImported": {
          "shape": "boolean"
        },
        "WasMigrated": {
          "shape": "boolean"
        },
        "CreatedInDataAccount": {
          "shape": "boolean"
        },
        "CreationTime": {
          "shape": "epochTimeMillis"
        },
        "ModelFramework": {
          "shape": "ModelFramework"
        },
        "ModelArtifactS3Location": {
          "shape": "S3Bucket"
        },
        "AgentAlgorithm": {
          "shape": "AgentAlgorithm"
        },
        "AgentNetwork": {
          "shape": "AgentNetwork"
        },
        "Status": {
          "shape": "ModelStatus"
        },
        "CarArn": {
          "shape": "CarArn"
        },
        "CarConfiguration": {
          "shape": "CarConfiguration"
        },
        "Error": {
          "shape": "ModelError"
        },
        "ModelPackagingComplete": {
          "shape": "Boolean"
        }
      }
    },
    "ModelArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "^arn:aws:deepracer:[a-z0-9-]*:[0-9]{12}:model/reinforcement_learning/[a-zA-Z0-9\\-]+$"
    },
    "ModelArnList": {
      "type": "list",
      "member": {
        "shape": "ModelArn"
      }
    },
    "ModelError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "shape": "ErrorCode"
        },
        "Details": {
          "shape": "Details"
        }
      }
    },
    "ModelFramework": {
      "type": "string",
      "enum": [
        "TENSOR_FLOW"
      ]
    },
    "ModelList": {
      "type": "list",
      "member": {
        "shape": "Model"
      }
    },
    "ModelName": {
      "type": "string",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-]+$"
    },
    "ModelStatus": {
      "type": "string",
      "enum": [
        "CREATED",
        "TRAINING",
        "READY",
        "DELETING",
        "ERROR",
        "EVALUATING",
        "STOPPING",
        "IMPORTING",
        "MIGRATING",
        "IMPORT_ERROR",
        "MIGRATE_ERROR"
      ]
    },
    "ModelType": {
      "type": "string",
      "enum": [
        "REINFORCEMENT_LEARNING"
      ]
    },
    "Name": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-]+$"
    },
    "NeuralNetwork": {
      "type": "string",
      "enum": [
        "DEEP_CONVOLUTIONAL_NETWORK",
        "DEEP_CONVOLUTIONAL_NETWORK_SHALLOW"
      ]
    },
    "NextToken": {
      "type": "string",
      "max": 2000,
      "min": 1,
      "pattern": "^[a-zA-Z0-9+/]+={0,2}$"
    },
    "NonNegativeDouble": {
      "type": "double",
      "min": 0
    },
    "NonNegativeInteger": {
      "type": "integer",
      "min": 0
    },
    "NumBotCars": {
      "type": "integer",
      "max": 6,
      "min": 1
    },
    "NumObstacles": {
      "type": "integer",
      "max": 10,
      "min": 1
    },
    "ObjectAvoidanceConfig": {
      "type": "structure",
      "required": [
        "RandomizeLocation",
        "NumObstacles",
        "ObstacleType"
      ],
      "members": {
        "RandomizeLocation": {
          "shape": "boolean"
        },
        "ObstaclePositions": {
          "shape": "ObstablePositionList"
        },
        "NumObstacles": {
          "shape": "NumObstacles"
        },
        "ObstacleType": {
          "shape": "ObstacleType"
        }
      }
    },
    "ObstablePositionList": {
      "type": "list",
      "member": {
        "shape": "ObstaclePosition"
      }
    },
    "ObstaclePosition": {
      "type": "structure",
      "required": [
        "LaneNumber",
        "TrackPercentage"
      ],
      "members": {
        "LaneNumber": {
          "shape": "NonNegativeInteger"
        },
        "TrackPercentage": {
          "shape": "NonNegativeDouble"
        }
      }
    },
    "ObstacleType": {
      "type": "string",
      "enum": [
        "BOX"
      ]
    },
    "ParticipationConfig": {
      "type": "structure",
      "required": [
        "EntryTypeConfig",
        "ViewType"
      ],
      "members": {
        "EntryTypeConfig": {
          "shape": "EntryTypeConfig"
        },
        "ViewType": {
          "shape": "StandardLengthString"
        }
      }
    },
    "PerspectiveCustomization": {
      "type": "structure",
      "members": {
        "Decal": {
          "shape": "CarDecal"
        }
      }
    },
    "PlayoffRaceTypeConfig": {
      "type": "structure",
      "members": {
        "PlayoffRaceTypeID": {
          "shape": "PlayoffRaceTypeID"
        },
        "PlayoffRaceArn": {
          "shape": "LeaderboardArn"
        },
        "PlayoffReleaseTime": {
          "shape": "epochTimeMillis"
        },
        "PlayoffResultReleaseTime": {
          "shape": "epochTimeMillis"
        }
      }
    },
    "PlayoffRaceTypeID": {
      "type": "string",
      "enum": [
        "TOURNAMENT",
        "GRANDPRIX"
      ]
    },
    "PositiveInteger": {
      "type": "integer",
      "min": 1
    },
    "PrivateLeaderboard": {
      "type": "structure",
      "required": [
        "Arn",
        "Name",
        "Description",
        "StartTime",
        "EndTime",
        "TrackArn",
        "MinimumLaps",
        "TotalLaps",
        "ParticipantCount",
        "LeaderboardImage",
        "Status"
      ],
      "members": {
        "Arn": {
          "shape": "LeaderboardArn"
        },
        "Name": {
          "shape": "LeaderboardName"
        },
        "Description": {
          "shape": "Description"
        },
        "StartTime": {
          "shape": "epochTimeMillis"
        },
        "EndTime": {
          "shape": "epochTimeMillis"
        },
        "TrackArn": {
          "shape": "TrackArn"
        },
        "MinimumLaps": {
          "shape": "PositiveInteger"
        },
        "TotalLaps": {
          "shape": "PositiveInteger"
        },
        "ParticipantCount": {
          "shape": "NonNegativeInteger"
        },
        "LeaderboardImage": {
          "shape": "LeaderboardImage"
        },
        "TrackImageUrl": {
          "shape": "StandardLengthString"
        },
        "Alias": {
          "shape": "Alias"
        },
        "Status": {
          "shape": "LeaderboardStatus"
        },
        "AccessToken": {
          "shape": "AccessToken"
        },
        "RaceType": {
          "shape": "RaceType"
        },
        "HeadToHeadConfig": {
          "shape": "HeadToHeadConfig"
        },
        "ObjectAvoidanceConfig": {
          "shape": "ObjectAvoidanceConfig"
        },
        "ResettingBehaviorConfig": {
          "shape": "ResettingBehaviorConfig"
        },
        "TimingMethod": {
          "shape": "TimingMethod"
        },
        "Division": {
          "shape": "Division"
        },
        "PlayoffRaceTypeConfig": {
          "shape": "PlayoffRaceTypeConfig"
        },
        "ThemeConfig": {
          "shape": "ThemeConfig"
        }
      }
    },
    "PrivateLeaderboardList": {
      "type": "list",
      "member": {
        "shape": "PrivateLeaderboard"
      }
    },
    "PrivateLeaderboardParticipant": {
      "type": "structure",
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "Alias": {
          "shape": "Alias"
        },
        "JoinTime": {
          "shape": "epochTimeMillis"
        }
      }
    },
    "PrivateLeaderboardParticipantList": {
      "type": "list",
      "member": {
        "shape": "PrivateLeaderboardParticipant"
      }
    },
    "Race": {
      "type": "structure",
      "members": {
        "Racer1": {
          "shape": "RacerStatistics"
        },
        "Racer2": {
          "shape": "RacerStatistics"
        },
        "Winner": {
          "shape": "Alias"
        },
        "ResultsAvailableTime": {
          "shape": "epochTimeMillis"
        },
        "VideoUrl": {
          "shape": "Url"
        },
        "RaceGroup": {
          "shape": "NonNegativeInteger"
        }
      }
    },
    "RaceList": {
      "type": "list",
      "member": {
        "shape": "Race"
      }
    },
    "RaceType": {
      "type": "string",
      "enum": [
        "TIME_TRIAL",
        "OBJECT_AVOIDANCE",
        "HEAD_TO_HEAD_RACING"
      ]
    },
    "RacerStatistics": {
      "type": "structure",
      "members": {
        "Alias": {
          "shape": "Alias"
        },
        "CrashCount": {
          "shape": "NonNegativeInteger"
        },
        "OffTrackCount": {
          "shape": "NonNegativeInteger"
        },
        "TimeTakenMillis": {
          "shape": "epochTimeMillis"
        },
        "VideoUrl": {
          "shape": "Url"
        },
        "SeedNumber": {
          "shape": "NonNegativeInteger"
        }
      }
    },
    "RemoveLeaderboardAccessPermissionRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn",
        "AccountId"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        },
        "AccountId": {
          "shape": "AccountId"
        }
      }
    },
    "RemoveLeaderboardAccessPermissionResponse": {
      "type": "structure",
      "members": {}
    },
    "ResettingBehaviorConfig": {
      "type": "structure",
      "members": {
        "IsContinuousLap": {
          "shape": "boolean"
        },
        "AllowReset": {
          "shape": "boolean"
        },
        "MaxResetTimes": {
          "shape": "PositiveInteger"
        },
        "PenaltySeconds": {
          "shape": "PositiveInteger"
        },
        "CutOffSeconds": {
          "shape": "PositiveInteger"
        },
        "CollisionPenaltySeconds": {
          "shape": "NonNegativeDouble"
        },
        "OffTrackPenaltySeconds": {
          "shape": "NonNegativeDouble"
        }
      }
    },
    "ResourceAlreadyExistsException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "ResourceDoesNotExistException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "ResourceInUseException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "ResourceLimitExceededException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "ResultsReleaseTimes": {
      "type": "list",
      "member": {
        "shape": "epochTimeMillis"
      }
    },
    "RewardFunctionCode": {
      "type": "string",
      "max": 140000,
      "min": 1,
      "pattern": "[\\s\\S]+"
    },
    "RoboMakerSimulationApplication": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "StandardLengthString"
        },
        "Version": {
          "shape": "StandardLengthString"
        }
      }
    },
    "RoleArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "arn:aws(-iso)?:iam::[0-9]{12}:role/(service-role/)?[a-zA-Z0-9_\\+=,\\.\\-@]{1,64}"
    },
    "RunTournamentRequest": {
      "type": "structure",
      "required": [
        "LeaderboardArn"
      ],
      "members": {
        "LeaderboardArn": {
          "shape": "LeaderboardArn"
        }
      }
    },
    "RunTournamentResponse": {
      "type": "structure",
      "members": {}
    },
    "S3Bucket": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "^.+$"
    },
    "S3ObjectKey": {
      "type": "string",
      "min": 1
    },
    "SensorType": {
      "type": "string",
      "enum": [
        "FRONT_FACING_CAMERA",
        "STEREO_CAMERAS",
        "LIDAR"
      ]
    },
    "SensorsList": {
      "type": "list",
      "member": {
        "shape": "SensorType"
      }
    },
    "ServiceException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "SetAliasRequest": {
      "type": "structure",
      "required": [
        "Alias"
      ],
      "members": {
        "Alias": {
          "shape": "Alias"
        },
        "AccountId": {
          "shape": "AccountId"
        }
      }
    },
    "SortEvaluationsBy": {
      "type": "string",
      "enum": [
        "CREATION_TIME"
      ]
    },
    "SortModelsBy": {
      "type": "string",
      "enum": [
        "CREATION_TIME"
      ]
    },
    "SpeedGranularity": {
      "type": "integer",
      "max": 3,
      "min": 1
    },
    "StandardLengthString": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "^.+$"
    },
    "StartEvaluationRequest": {
      "type": "structure",
      "required": [
        "ModelArn",
        "EvaluationConfig"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        },
        "EvaluationConfig": {
          "shape": "EvaluationConfig"
        },
        "RoleArn": {
          "shape": "RoleArn"
        }
      }
    },
    "StartEvaluationResponse": {
      "type": "structure",
      "required": [
        "EvaluationJobArn"
      ],
      "members": {
        "EvaluationJobArn": {
          "shape": "EvaluationJobArn"
        }
      }
    },
    "SteeringGranularity": {
      "type": "integer",
      "max": 7,
      "min": 1
    },
    "StopEvaluationRequest": {
      "type": "structure",
      "required": [
        "EvaluationJobArn"
      ],
      "members": {
        "EvaluationJobArn": {
          "shape": "EvaluationJobArn"
        }
      }
    },
    "StopEvaluationResponse": {
      "type": "structure",
      "members": {}
    },
    "StopTrainingReinforcementLearningModelRequest": {
      "type": "structure",
      "required": [
        "ModelArn"
      ],
      "members": {
        "ModelArn": {
          "shape": "ModelArn"
        }
      }
    },
    "StopTrainingReinforcementLearningModelResponse": {
      "type": "structure",
      "members": {}
    },
    "TerminationConditions": {
      "type": "structure",
      "required": [
        "MaxTimeInMinutes"
      ],
      "members": {
        "RewardScore": {
          "shape": "double"
        },
        "MaxTimeInMinutes": {
          "shape": "NonNegativeInteger"
        },
        "MaxEpisodes": {
          "shape": "NonNegativeInteger"
        }
      }
    },
    "TermsConditionId": {
      "type": "string",
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-]+$"
    },
    "TestRewardFunctionErrorType": {
      "type": "string",
      "enum": [
        "SYNTAX_ERROR",
        "IMPORT_ERROR",
        "TEST_FAILURE"
      ]
    },
    "TestRewardFunctionRequest": {
      "type": "structure",
      "required": [
        "RewardFunctionCode"
      ],
      "members": {
        "RewardFunctionCode": {
          "shape": "RewardFunctionCode"
        }
      }
    },
    "TestRewardFunctionResponse": {
      "type": "structure",
      "members": {
        "ErrorDetailsList": {
          "shape": "ErrorDetailsList"
        }
      }
    },
    "ThemeConfig": {
      "type": "structure",
      "members": {
        "ThemeID": {
          "shape": "ThemeID"
        }
      }
    },
    "ThemeID": {
      "type": "string",
      "max": 64,
      "min": 1
    },
    "TimingMethod": {
      "type": "string",
      "enum": [
        "BEST_LAP_TIME",
        "AVG_LAP_TIME",
        "TOTAL_TIME"
      ]
    },
    "TooManyRequestsException": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "Tournament": {
      "type": "structure",
      "required": [
        "Size",
        "ResultsReleaseTimes"
      ],
      "members": {
        "Size": {
          "shape": "NonNegativeInteger"
        },
        "ResultsReleaseTimes": {
          "shape": "ResultsReleaseTimes"
        }
      }
    },
    "TournamentResults": {
      "type": "structure",
      "members": {
        "Races": {
          "shape": "RaceList"
        }
      }
    },
    "Track": {
      "type": "structure",
      "members": {
        "TrackArn": {
          "shape": "TrackArn"
        },
        "TrackName": {
          "shape": "Name"
        },
        "TrackDescription": {
          "shape": "Description"
        },
        "TrackReleaseTime": {
          "shape": "epochTimeMillis"
        },
        "TrackDifficulty": {
          "shape": "PositiveInteger"
        },
        "TrackLength": {
          "shape": "double"
        },
        "TrackWidth": {
          "shape": "double"
        },
        "TrackPicture": {
          "shape": "StandardLengthString"
        },
        "TrackRaceTypePictureMap": {
          "shape": "TrackRaceTypePictureMap"
        },
        "TrackUsageCount": {
          "shape": "PositiveInteger"
        }
      }
    },
    "TrackArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "arn:.*"
    },
    "TrackConfig": {
      "type": "structure",
      "required": [
        "TrackArn"
      ],
      "members": {
        "TrackArn": {
          "shape": "TrackArn"
        }
      }
    },
    "TrackList": {
      "type": "list",
      "member": {
        "shape": "Track"
      }
    },
    "TrackRaceTypePictureMap": {
      "type": "structure",
      "members": {
        "HeadToHeadRacing": {
          "shape": "StandardLengthString"
        },
        "HeadToHeadRacingGray": {
          "shape": "StandardLengthString"
        },
        "ObjectAvoidance": {
          "shape": "StandardLengthString"
        },
        "ObjectAvoidanceGray": {
          "shape": "StandardLengthString"
        },
        "TimeTrial": {
          "shape": "StandardLengthString"
        },
        "TimeTrialGray": {
          "shape": "StandardLengthString"
        }
      }
    },
    "TrainingConfig": {
      "type": "structure",
      "required": [
        "ResourceConfig",
        "TrackConfig",
        "TerminationConditions"
      ],
      "members": {
        "RewardFunctionS3Source": {
          "shape": "S3Bucket"
        },
        "RewardFunction": {
          "shape": "CodeBlock"
        },
        "ModelMetadataS3Source": {
          "shape": "S3Bucket"
        },
        "ModelMetadata": {
          "shape": "MetaData"
        },
        "ResourceConfig": {
          "shape": "TrainingResourceConfig"
        },
        "TrackConfig": {
          "shape": "TrackConfig"
        },
        "RaceType": {
          "shape": "RaceType"
        },
        "TerminationConditions": {
          "shape": "TrainingTerminationConditions"
        },
        "Hyperparameters": {
          "shape": "map"
        },
        "HeadToHeadConfig": {
          "shape": "HeadToHeadConfig"
        },
        "ObjectAvoidanceConfig": {
          "shape": "ObjectAvoidanceConfig"
        }
      }
    },
    "TrainingJob": {
      "type": "structure",
      "required": [
        "JobArn",
        "ActivityJob",
        "Config",
        "Metrics"
      ],
      "members": {
        "JobArn": {
          "shape": "TrainingJobArn"
        },
        "ActivityJob": {
          "shape": "ActivityJob"
        },
        "Config": {
          "shape": "TrainingConfig"
        },
        "Metrics": {
          "shape": "TrainingMetrics"
        },
        "RoboMakerJobArn": {
          "shape": "Arn"
        },
        "SageMakerJobArn": {
          "shape": "Arn"
        },
        "AutoSubmission": {
          "shape": "AutoSubmission"
        }
      }
    },
    "TrainingJobArn": {
      "type": "string",
      "max": 1600,
      "min": 1,
      "pattern": "^arn:aws:deepracer:[a-z0-9-]*:[0-9]{12}:training_job/[a-zA-Z0-9_\\-]+$"
    },
    "TrainingJobList": {
      "type": "list",
      "member": {
        "shape": "TrainingJob"
      }
    },
    "TrainingMetrics": {
      "type": "structure",
      "members": {
        "Namespace": {
          "shape": "StandardLengthString"
        },
        "MetricsName": {
          "shape": "StandardLengthString"
        },
        "Dimensions": {
          "shape": "DimensionList"
        }
      }
    },
    "TrainingResourceConfig": {
      "type": "structure",
      "required": [
        "InstanceType",
        "InstanceCount"
      ],
      "members": {
        "InstanceType": {
          "shape": "StandardLengthString"
        },
        "InstanceCount": {
          "shape": "PositiveInteger"
        }
      }
    },
    "TrainingTerminationConditions": {
      "type": "structure",
      "members": {
[...]
